<%- layout('layout_blank') %> 
	



	<script type="text/javascript" src="js/lib/blockUI/jquery.blockUI.js"></script>
	<script>
		$(function() {
			$.blockUI({
				overlayCSS:  {
					background: 'rgba(142, 159, 167, 0.3)',
					opacity: 1,
					cursor: 'wait'
				},
				css: {
					width: 'auto',
					top: '45%',
                    left: '45%'
				},
				message: '<div class="blockui-default-message">Loading...</div>',
				blockMsgClass: 'block-msg-message-loader'
			});
			setTimeout($.unblockUI, 2000);

			$('#blockui-block-element-default').on('click', function() {
				$('#blockui-element-container-default').block({
					message: '<div class="blockui-default-message"><i class="fa fa-circle-o-notch fa-spin"></i><h6>We are processing your request. <br> Please be patient.</h6></div>',
					overlayCSS:  {
						background: 'rgba(142, 159, 167, 0.8)',
						opacity: 1,
						cursor: 'wait'
					},
					css: {
						width: '50%'
					},
					blockMsgClass: 'block-msg-default'
				});

				setTimeout(function() {
					$('#blockui-element-container-default').unblock()
				}, 2000);
			});

			$('#blockui-block-element-dark').on('click', function() {
				$('#blockui-element-container-dark').block({
					message: '<div class="blockui-default-message"><i class="fa fa-circle-o-notch fa-spin"></i><h6>Please Wait</h6></div>',
					overlayCSS:  {
						background: 'rgba(24, 44, 68, 0.8)',
						opacity: 1,
						cursor: 'wait'
					},
					css: {
						width: '50%'
					},
					blockMsgClass: 'block-msg-default'
				});

				setTimeout(function() {
					$('#blockui-element-container-dark').unblock()
				}, 2000);
			});

			$('#blockui-block-element-message-loader').on('click', function() {
				$('#blockui-element-container-message-loader').block({
					message: '<div class="blockui-default-message">Please Wait</div>',
					overlayCSS:  {
						background: 'rgba(0, 151, 219, 0.8)',
						opacity: 1,
						cursor: 'wait'
					},
					css: {
						width: 'auto'
					},
					blockMsgClass: 'block-msg-message-loader'
				});

				setTimeout(function() {
				 	$('#blockui-element-container-message-loader').unblock()
				 }, 2000);
			});
		});
	</script>

<script>
    $(document).ready(function() {
        // auto refresh page after 1 second
        setInterval('refreshPage()', 2000);
    });
 
    function refreshPage() { 
        location.reload(); 
    }
</script>
