<%- include('partials/header.html'); %>
<!--.page-center-->
<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form class="sign-box" action="./login">
                <div class="sign-avatar">
                    <img src="img/avatar-sign.png" alt="">
                </div>
                <button type="submit" class="btn btn-rounded">Connect with Facebook</button>
            </form>
        </div>
    </div>
</div>
<!--.page-center-->
<%- include('partials/footer.html'); %>
